{% load static %}
<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UdL Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'styles/css/style.css' %}" rel="stylesheet">
</head>
<body class="d-flex flex-column min-vh-100">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Repositori</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'home' %}">Explora</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pujar Recurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-info" href="#">El meu Perfil</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="py-4 mt-5 bg-white border-top">
        <div class="container text-center text-muted">
            <small>&copy; 2026 Projecte Web - Universitat de Lleida</small>
        </div>
    </footer>

</body>
</html>