{% extends "base.html" %}

{% block title %}Home - My Blog{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8">

        {% if user.is_authenticated %}
            <h1>Welcome back, {{ user.username }}! 👋</h1>
            <p class="lead">This is the home page of our Django project.</p>
        {% else %}
            <h1 class="mb-3">Welcome to the project</h1>
            <p class="lead">This is the home page of our Django project.</p>
        {% endif %}

    </div>
</div>
{% endblock %}